@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/bbt5cpp.css");

:root {
  --background: #ffffff;
  --foreground: #000014;
  --font-sans: 'area-variable', sans-serif;
  --font-mono: 'degular mono', monospace;
  --color-blueprint: #2242FF;
  --color-marker: #E44E37;
  --color-meadow: #04A573;
  --color-sunny: #FFB300;
  --color-black: #000014;
  --color-white: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

